openai
crewai
fpdf
pymupdf
chromadb
openpyxl
pandas
fpdf
jinja2
crewai-tools
streamlit
transformers==4.46.0
tokenizers==0.20.3
numpy == 1.26.4
sentence-transformers == 3.4.1
tavily-python
pymongo
#nltk